<component name="libraryTable">
  <library name="springboot-01-helloword-1.0-SNAPSHOT">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/../springboot/springboot01helloword/target/springboot-01-helloword-1.0-SNAPSHOT.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>